---
layout: default
---

</style>
<!-- Start Nav Backed Header -->
  <div class="nav-backed-header parallax" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li class="active">Our Beliefs</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- End Nav Backed Header --> 
  <!-- Start Page Header -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Our Beliefs</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page Header --> 
  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
      <div class="container">
        <div class="row">
        
          {% for item in site.data.beliefs %}
          <div class="belief col-sm-12 col-md-10 col-md-offset-1">
            <div class="panel panel-default ">
             <div class="panel-heading"><h3><i class="fa {{item.icon}}"></i> {{item.title}}</h3></div><!--/panel-heading-->
             <div class="panel-body">
          {% if item.Content %}
            {{item.Content | markdownify}}
           {% endif %}
           </div><!--/panel-body-->
           </div><!--panel-->
        </div><!--/belief-->
       {% endfor %}
          
          
          
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/content full-->
  </div><!--/main-->